body {
  padding-top: 20px;
  overflow-x: hidden;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.pad-top {
  padding-top: 60px;
}
.shipwrecktable tr td:nth-child(2) {
  width: 150px;
}
.shipwrecktable tr:nth-child(1) td {
  border-top: none;
}
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
[ui-view] {
  height: 65px;
}
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.map-wrapper {
	margin-bottom: 30px;
}
.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
.navbar {
	opacity: 0.8;
}
.optionsButtons {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.optionsButtons a {
	transition: all .6s ease;
}
.optionsButtons a:not(.options) {
	opacity: 0;
}
.optionsButtons.visibleBtns a:not(.options) {
	opacity: 1;
}
.optionsButtons.hiddenBtns a:not(.options) {
	opacity: 0;
}
.options {
	font-family: FontAwesome;
	display: inline-block;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	font-size: 18px;
}
.options:before {
	content: '\f013';
	
}
.options:hover {
	color: #999;
	text-decoration: none;
}
.narrow-search {
	height: 40px;
	width: 300px;
	line-height: 40px;
	margin: 10px auto 30px auto;
	border-radius: 30px;
}
}