<!-- Main jumbotron for a primary marketing message or call to action -->
    <img src="/images/shipwreck.jpg" class="full-width"/>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Shipwreck List</h2>
          <p><a class="btn btn-default" href="#/shipwrecks" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Shipwrecks</p>
      </footer>
    </div> <!-- /container -->
