<div class="container pad-top">
	<h3>Details for {{shipwreck.name}}</h3>
	<dl class="dl-horizontal shipwrecktable"> 
  			<dt>Name</dt> 
  			<dd>{{shipwreck.name}}</dd> 
  			<dt>Description</dt> 
  			<dd>{{shipwreck.description}}</dd>
  			<dt>Country</dt> 
  			<dd>{{shipwreck.condition}}</dd> 
  			<dt>Year Discovered</dt> 
  			<dd>{{shipwreck.yearDiscovered}}</dd>
  			<dt>Location</dt> 
  			<dd>Lat: {{shipwreck.latitude}}, Long: {{shipwreck.longitude}}</dd>
  	</dl>
  <div>
      <a class="btn btn-primary" ui-sref="editShipwreck({id:shipwreck.id})">Edit</a>
  </div>
</div>
